*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
   
    background-color: #213F99;
}
.wrapper{
    width: 80vmin;
    background-color: #F2D4D6;
    border-radius: 10px;
    padding: 50px 50px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;

}
p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    color: #213F99;
    margin: 30px 0;


}   
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
button{
   display:block ;
   background-color:#213F99; 
   border: none;
   padding: 5px;
   font-size: 18px;
   color: #F2D4D6;
   font-weight: 600;
   padding: 12px 25px;
   margin: auto;
   border-radius: 5px;
   cursor: pointer;
   }

.post-rating-count{
    text-size-adjust: 2px;
    text-align: center;
}
.post-ratings-container{
    display: flex;
    justify-content: end;
}